aiohttp==3.6.2
alembic==1.4.1
altgraph==0.17
async-timeout==3.0.1
asyncio==3.4.3
attrs==19.3.0
Babel==2.8.0
beautifulsoup4==4.8.2
bencode==1.0
bencodepy==0.9.5
BitTorrent-bencode==5.0.8.1
blinker==1.4
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
cryptography==2.8
cycler==0.10.0
decorator==4.4.1
enzyme==0.4.1
Faker==0.9.1
ffmpeg-python==0.2.0
Flask==1.1.1
Flask-Admin==1.5.6
Flask-BabelEx==0.9.4
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Principal==0.4.0
Flask-Script==2.0.6
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
future==0.18.2
gunicorn==20.0.4
idna==2.9
imageio==2.6.1
imageio-ffmpeg==0.3.0
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.1.0
libtorrent-test==1.2.0
load==2019.4.13
lxml==4.5.0
magnet2torrent==1.0.4
Mako==1.1.2
MarkupSafe==1.1.1
matplotlib==3.1.2
mixer==6.1.3
moviepy==1.0.1
mpmath==1.1.0
multidict==4.7.5
music==0.7b0
mysql-connector==2.2.9
mysql-connector-python==8.0.18
numpy==1.18.3
passlib==1.7.2
pefile==2019.4.18
Pillow==7.1.1
prettytable==0.7.2
proglog==0.1.9
protobuf==3.11.2
psycopg2==2.8.4
public==2019.4.13
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
pygame==1.9.6
PyInstaller==3.6
pyOpenSSL==19.1.0
pyparsing==2.4.6
Pyrogram==0.16.0
PySocks==1.7.0
pyTelegramBotAPI==3.6.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
pywin32-ctypes==0.2.0
PyYAML==5.4
requests==2.23.0
rsa==4.0
rtorrent-python==0.2.9
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
schedule==0.6.0
scipy==1.4.1
search-torrent==1.2.5
selenium==3.141.0
six==1.13.0
soupsieve==2.0
speaklater==1.3
SQLAlchemy==1.3.15
sympy==1.5.1
Telethon==1.11.3
termcolor==1.1.0
text-unidecode==1.2
TgCrypto==1.2.0
torrentcheck==0.1.2
torrentool==1.0.2
torrentstream==0.1.5
torrentutils==0.6.0
tqdm==4.42.1
trafaret==2.0.2
trafaret-config==2.0.2
urllib3==1.25.8
uTorrent.Py==0.1.1
vext==0.7.3
vext.libtorrent==0.6.1
Werkzeug==1.0.0
WTForms==2.2.1
yarl==1.4.2
