{% extends 'base.html' %}

{% block title %}
    Create Project
{% endblock %}


{% block main %}
        <form action="{{ url_for('projects.create_project') }}" method="post">
            {% for field in form %}
                    {{ field.label() }}
{#                    {{ field.label(class='control-label') }}#}
{#                    {{ field(class='form-control') }}#}
                    {{ field() }}
            {% endfor %}
            <button type="submit">Create Project</button>
        </form>
{% endblock %}