{% extends 'base.html' %}

{% block title %}
    {{ project.name }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% endblock %}

{#{% block content_title %}#}
{#    {{ project.name }}#}
{##}
{#{% endblock %}#}

{% block content %}
    <a href="{{ url_for('projects.project_info', slug=project.slug) }}">Info</a>
    <a href="{{ url_for('projects.tasks', slug=project.slug) }}">Tasks</a>
    <a href="{{ url_for('projects.users', slug=project.slug) }}">Users</a>
{% endblock %}

{% block main %}

{% endblock %}