{% extends 'base.html' %}

{% block title %}
    {{ project.name }}
{% endblock %}


{% block styles %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    {{ super() }}

{% endblock %}


{% block main %}
    <div class="container">

        <div class="row">
            {# Опции #}
            <div class="col-md-2" style="padding-left: 0px; padding-right: 0px">
                {# Шапка: Опции #}
                <nav class="navbar navbar-default" style="margin-bottom: 0px">
                    <p class="text-center" style="font-size: 24px; margin-top: 5px">Опции</p>
                </nav>

                {# Кнопка: Информация #}
                <a href="{{ url_for('projects.project_info', slug=project.slug) }}">
                    <button style="padding-top: 15px; padding-bottom: 15px; font-size: 18px"
                            type="button" class="btn btn-default btn-block">Информация
                    </button>
                </a>

                {# Кнопка: Задания #}
                <a href="{{ url_for('projects.tasks', slug=project.slug) }}">
                    <button style="padding-top: 15px; padding-bottom: 15px; font-size: 18px"
                            type="button" class="btn btn-default btn-block">Задания
                    </button>
                </a>

                {# Кнопка: Работники #}
                <a href="{{ url_for('projects.users', slug=project.slug) }}">
                    <button style="padding-top: 15px; padding-bottom: 15px; font-size: 18px"
                            type="button" class="btn btn-default btn-block">Работники
                    </button>
                </a>
            </div>


            {# Шапка: информация о заданиях #}
            <div class="col-md-10" style="padding-left: 0px; padding-right: 0px">
                {# Шапка: информация об проекте #}
                <nav class="navbar navbar-default" style="margin-bottom: 5px">
                    <p class="text-center" style="font-size: 24px; margin-top: 5px">Информация о заданиях</p>
                </nav>

                {# Поле: общая информация и кнопка "Создать проект" #}
                <div class="row" style="margin-bottom: 3px; margin-top: 0px; padding-top: 0px">
                    <div class="col-md-4" style="margin-bottom: 0px; margin-top: 0px; padding-top: 0px">
                        <p style="color: #000000; padding-top: 5px; padding-left: 10px; font-weight: 900; font-size: 24px">
                            Задания проекта:</p>
                    </div>

                    {% if current_user.email == project.created_by %}
                        <div class="col-md-3 col-md-offset-5"
                             style="margin-bottom: 1px; margin-top: 1px; padding-top: 0px">
                            <a href="{{ url_for('projects.create_task',slug=project.slug) }}">
                                <button style="margin-top: 0px; padding-top: 10px; padding-bottom: 10px; font-size: 18px"
                                        type="button" class="btn btn-default btn-block">Создать задание
                                </button>
                            </a>
                        </div>
                    {% endif %}
                </div>

                {# Поле: информация о задании: название, работник, статус #}
                <div style="padding-top: 2px; padding-bottom: 2px">
                    {% for task in project.tasks %}
                        <a href="{{ url_for('projects.task_detail', slug=project.slug, slug_task=task.slug) }}">
                            <button type="button" class="btn btn-sm btn-default btn-block">
                                <div class="row" style="padding-top: 10px; font-size: 16px; font-weight: 600">
                                    <div class="col-md-4"><p style="text-align: left">{{ task.title }}</p></div>
                                    <div class="col-md-4"><p style="text-align: center">{{ task.description }}</p></div>
                                    <div class="col-md-4"><p style="text-align: right">{{ task.state }}</p></div>
                                </div>
                            </button>
                        </a>
                    {% endfor %}
                </div>

                <p style="margin-bottom: 350px"></p>
            </div>
        </div>
    </div>
{% endblock %}
