{% extends 'projects/project_detail.html' %}


{% block title %}
    {{ project.name }}
{% endblock %}


{% block styles %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Дополнение к теме -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    {{ super() }}

{% endblock %}


{% block main %}
    <div class="container">

        <div class="row">
            {# Опции #}
            <div class="col-md-2" style="padding-left: 0px; padding-right: 0px">
                {# Шапка: Опции #}
                <nav class="navbar navbar-default" style="margin-bottom: 0px">
                    <p class="text-center" style="font-size: 24px; margin-top: 5px">Опции</p>
                </nav>

                {# Кнопка: Информация #}
                <a href="{{ url_for('projects.project_info', slug=project.slug) }}">
                    <button style="padding-top: 15px; padding-bottom: 15px; font-size: 18px"
                            type="button" class="btn btn-default btn-block">Информация</button>
                </a>

                {# Кнопка: Задания #}
                <a href="{{ url_for('projects.tasks', slug=project.slug) }}">
                    <button style="padding-top: 15px; padding-bottom: 15px; font-size: 18px"
                            type="button" class="btn btn-default btn-block">Задания</button>
                </a>

                {# Кнопка: Работники #}
                <a href="{{ url_for('projects.users', slug=project.slug) }}">
                    <button style="padding-top: 15px; padding-bottom: 15px; font-size: 18px"
                            type="button" class="btn btn-default btn-block">Работники</button>
                </a>
            </div>

            {# Шапка: информация об проекте #}
            <div class="col-md-10" style="padding-left: 0px; padding-right: 0px">
                {# Шапка: информация об проекте #}
                <nav class="navbar navbar-default" style="margin-bottom: 10px">
                    <p class="text-center" style="font-size: 24px; margin-top: 5px">Информация о работниках</p>
                </nav>

                <p style="color: #000000; padding-left: 10px; font-weight: 900; font-size: 24px">Работники проекта:</p>

                <ul style="color: #000000; padding-left: 10px">{% for user in project.users %}
                        <li>{{ user.email }}</li>
                    {% endfor %}
                </ul>

                {% if project not in current_user.projects %}
                    <form action="{{ url_for('projects.users', slug=project.slug) }}" method="post">
                        <button type="submit">Join to us!</button>
                    </form>
                {% endif %}

                <p style="margin-bottom: 350px"></p>
            </div>
        </div>
    </div>
{% endblock %}

