*{
  text-decoration: none;
  list-style: none;
}

a {
  color: #FAA93F;
}

a:hover {  
  color: #00FFF6;
}

a, a:hover {
  -webkit-transition: all.8s ease;
  -o-transition: all.8s ease;
  -moz-transition: all.8s ease;
  -ms-transition: all.8s ease;
  transition: all.8s ease;
}

html,
body {
  height: 100%;  /*Очень важный параметр! */                            
  background-color: #D6D6D6;
  font-family: Arial, "Helvetica Neue", Helvetica, sens-serif;
  color: #CCCCCC;
  font-size: 20px;
  min-width: 1600px;
}

.wrapper {
  min-height: 100vh; /*Очень важно указать именно min*/
  display: flex;
  flex-direction: column;
}

/*-----------------------------------------Шапка------------------------------------------------*/

/*----------------------------------------Навигация------------------------------------------------*/

/*----------------------------------------Содержание---------------------------------------------*/

.fullscreen {
  min-height: 100vh;
  background-color: #303030;
  display: flex;
  padding: 20px 0;
}

.fullscreen__two {
  background-color: #474747;
}

.fullscreen__bg {
background: url('https://images.wallpaperscraft.ru/image/neboskreby_zdaniya_vid_snizu_114777_3840x2400.jpg') center / cover no-repeat fixed;
}

.fullscreen__body {
  flex: 1 1 auto;
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0px 20px;
}

.fullscreen__title {
  font-size: 50px;
  margin: 0px 0px 20px 0px;
}

.fullscreen__text {
  font-size: 25px;
  margin: 0px 0px 20px 0px;
}

.fullscreen__link {
  display: inline-block;
  line-height: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 2px;
  background-color: #575757;
  align-self: center;
  padding: 0px 20px;
}

.content {

}

.content__body {
  max-width: 1000px;
  margin: 0px auto;
  padding: 30px 20px;

}

.content__body p {
  margin: 0px 0px 20px 0px;
  color: #393939;
}

.content__body p:last-child{
  margin: 0;
}
/*-----------------------------------Шапка------------------------------------------*/
/*.main-overlay {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 0;
  background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
}*/

.header {
  background-color: rgba(48,48,48,0.9);
  width: 100%;
  text-align: center;
  background: url(https://images.wallpaperscraft.ru/image/more_siluet_odinochestvo_131354_3840x2400.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.header__body {
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  background: rgba(78,78,78,0.1);
}

.logo {
  margin: 10px 0px;
}

.menu {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.spisok {
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items:flex-end;

}
/*--------------------------------Настройка кнопок-------------------------------------*/
.menu-link {
  text-transform: uppercase;
  padding: 15px 25px;
  font-size: 24px;
  letter-spacing: 4px;
  font-family: Impact, fantasy;
  transition: 0.8s;
  background: rgba(78,78,78,0.7);
  color: #DEDDDD;
}

.menu-link:hover {
  box-shadow: 0 0 10px rgba(191,191,191,0.8), 0 0 40px rgba(191,191,191,0.5), 0 0 60px rgba(191,191,191,0.5);
  background-color: rgba(191,191,191,0.5);
  /*color: rgba(255,156,0,0.5);*/
  color: #FFFFFF;
  transition-delay: 0.2s;
}




/*----------------------------------------------------------------------*/
.user {
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:flex-end;
  width: 10%;
 /* background: rgba(78,78,78,0.7);*/
}

.name {
  align-self:center;
  color: #E7E7E7;

}

.sign_up {
  margin: 10px 0px;
}

.enter-link {
  border: 2px solid #EFEFEF;
  border-radius: 100px;
  padding: 3px;
  color: #BDBDBD;
}

/*-----------------------------------Подвал---------------------------------------*/
.footer {
  background-color: #181818;
  text-align: center;
}

.footer__body {
  max-width: 1000px;
  margin: 0px auto;
  padding: 30px 20px;
}
/*---------------------------------------------------------------*/