{% extends 'base.html' %}

{% block title %}
    Main
{% endblock %}

{% block main %}
    <!-- Контент -->
    <section class="fullscreen">
        <div class="fullscreen__body">
            <h1 class="fullscreen__title">Привіт друг!</h1>
            <div class="fullscreen__text">Це тестова версія<br>Project Management System</div>
            <!-- <a href="" class="fullscreen__link">Вперед</a> -->
        </div>
    </section>
    <!-- Паралакс -->
    <section class="fullscreen fullscreen__bg">

    </section>
    <!-- Контент -->
    <section class="fullscreen fullscreen__two">
        <div class="fullscreen__body">
            <h2 class="fullscreen__title">Так що таке СУП?</h2>
            <div class="fullscreen__text">
                <p>
                    Система управління проектами - це набір організаційних і технологічних методів та
                    інструментів, які підтримують управління проектами в організації і допомагають
                    підвищити ефективність їх реалізації. Часто термін «система управління проектами»
                    трактують вужче як автоматизовану або інформаційну систему управління проектами,
                    тобто програму.
                </p>
            </div>
            <!-- <a href="" class="fullscreen__link">Вперед</a> -->
        </div>
    </section>
    <!-- Контент -->
    <div class="content">
        <div class="content__body" style="color: #4d4d4d">
            <h3>Цілі системи управління проектами</h3>
            <ul>
                <li>Підвищення ефективності співробітників компанії при роботі над проектами;</li>
                <li>Поліпшення якості управління проектами керівниками проектів;</li>
                <li>Підвищення ефективності управління всім портфелем проектів компанії - більше проектів в термін і в рамках бюджету з меншими витратами.</li>
            </ul>
            <h3>Завдання системи управління проектами</h3>
            <p>
                Для досягнення зазначених цілей необхідні відповідні інструменти.
                Якщо детально не описувати весь функціонал, то системи управління проектами призначені для вирішення наступних завдань:
            </p>
            <ul>
                <li>Забезпечити керівника проекту інструментарієм планування проекту та контролю ходу його реалізації;</li>
                <li>Надати учаснику проекту зрозумілий інструмент для виконання завдань проекту та доступу до всієї необхідної для їх виконання інформації;</li>
                <li>Керівнику підрозділу дати інструмент контролю завантаження співробітників по проектним і непроектного завданням, надати інформацію для
                    прийняття рішення про призначення співробітників на нові проекти, перерозподілу навантаження між ними;</li>
                <li>Директору проектного офісу надати зручний інструмент, який дозволить автоматизувати рутинні операції і встановити повний прозорий контроль за
                    станом всього портфеля проектів і якістю роботи конкретних керівників проектів;</li>
                <li>Керівнику компанії забезпечити єдину панель моніторингу всіх проектів компанії з
                    можливістю оперативного аналізу відхилень і прийняття управлінських рішень;</li>
                <li>Акціонерам компанії важливо бачити відповідність портфеля виконуваних проектів стратегічним цілям компанії.</li>
            </ul>
            <h3>Області застосування систем управління проектами</h3>
            <p>Залежно від галузевої приналежності і специфіки існують різні сфери застосування систем управління проектами, наприклад:</p>
            <ul>
                <li>Внутрішні проекти розвитку;</li>
                <li>інжинірингові проекти;</li>
                <li>Створення нових продуктів;</li>
                <li>Девелопмент.</li>
            </ul>
            <h3>Вигоди від використання системи управління проектами</h3>
            <p>Можливі бізнес-вигоди від інформаційної системи управління проектами:</p>
            <ul>
                <li>Скорочення числа проектів, які не відповідають стратегії компанії;</li>
                <li>Підвищення ефективності використання ресурсів;</li>
                <li>Снижение перерасходов бюджета;</li>
                <li>Скорочення відсотка невдалих проектів;</li>
                <li>Скорочення витрат часу проектних офісів і керівників проектів.</li>
            </ul>
            <h3>Види інформаційних систем управління проектами</h3>
            <p>За технічними характеристиками системи управління проектами можна розділити на наступні види:</p>
            <ul>
                <li>Локальні / настільні;</li>
                <li>Клієнт-серверні, коли на сервері встановлюються основні компоненти ПО, а на локальному комп'ютері встановлюється додаток клієнт;</li>
                <li>Веб-базовані - для використання таких додатків потрібен лише інтернет-браузер.</li>
            </ul>

        </div>
    </div>
{% endblock %}