{% extends 'base.html' %}

{% block title %}
    Main

{% endblock %}

{% block main %}
    <!-- Контент -->
    <section class="fullscreen">
        <div class="fullscreen__body">
            <h1 class="fullscreen__title">Привет, друг!</h1>
            <div class="fullscreen__text">Это тестовая версия<br>Project Management System</div>
            <!-- <a href="" class="fullscreen__link">Вперед</a> -->
        </div>
    </section>
    <!-- Паралакс -->
    <section class="fullscreen fullscreen__bg">

    </section>
    <!-- Контент -->
    <section class="fullscreen fullscreen__two">
        <div class="fullscreen__body">
            <h2 class="fullscreen__title">Так что такое СУП?</h2>
            <div class="fullscreen__text">Та я хз... Тут нужен текст сос мыслом</div>
            <!-- <a href="" class="fullscreen__link">Вперед</a> -->
        </div>
    </section>
    <!-- Контент -->
    <div class="content">
        <div class="content__body" style="">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quia, harum, quod ipsam voluptatibus
                repudiandae, ducimus, eius cum
                tempora at eos sed. Atque consequatur sit exercitationem. Reprehenderit pariatur laudantium, hic iure
                aut perspiciatis
                esse at, veniam, quod beatae voluptatum ex impedit illum amet eum natus tempora fuga officiis quasi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quia, harum, quod ipsam voluptatibus
                repudiandae, ducimus, eius cum
                tempora at eos sed. Atque consequatur sit exercitationem. Reprehenderit pariatur laudantium, hic iure
                aut perspiciatis
                esse at, veniam, quod beatae voluptatum ex impedit illum amet eum natus tempora fuga officiis quasi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quia, harum, quod ipsam voluptatibus
                repudiandae, ducimus, eius cum
                tempora at eos sed. Atque consequatur sit exercitationem. Reprehenderit pariatur laudantium, hic iure
                aut perspiciatis
                esse at, veniam, quod beatae voluptatum ex impedit illum amet eum natus tempora fuga officiis quasi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quia, harum, quod ipsam voluptatibus
                repudiandae, ducimus, eius cum
                tempora at eos sed. Atque consequatur sit exercitationem. Reprehenderit pariatur laudantium, hic iure
                aut perspiciatis
                esse at, veniam, quod beatae voluptatum ex impedit illum amet eum natus tempora fuga officiis quasi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quia, harum, quod ipsam voluptatibus
                repudiandae, ducimus, eius cum
                tempora at eos sed. Atque consequatur sit exercitationem. Reprehenderit pariatur laudantium, hic iure
                aut perspiciatis
                esse at, veniam, quod beatae voluptatum ex impedit illum amet eum natus tempora fuga officiis quasi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quia, harum, quod ipsam voluptatibus
                repudiandae, ducimus, eius cum
                tempora at eos sed. Atque consequatur sit exercitationem. Reprehenderit pariatur laudantium, hic iure
                aut perspiciatis
                esse at, veniam, quod beatae voluptatum ex impedit illum amet eum natus tempora fuga officiis quasi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quia, harum, quod ipsam voluptatibus
                repudiandae, ducimus, eius cum
                tempora at eos sed. Atque consequatur sit exercitationem. Reprehenderit pariatur laudantium, hic iure
                aut perspiciatis
                esse at, veniam, quod beatae voluptatum ex impedit illum amet eum natus tempora fuga officiis quasi.
            </p>
        </div>
    </div>
{% endblock %}

