{% extends 'base.html' %}

{% block title %}
    projectsList
{% endblock %}

{#{% block content_title %}#}
{#    Index page#}
{#{% endblock %}#}

{% block content %}
<div class="container-fluid" style="padding-top: 5%">
  <div class="row">
    <div class="col-md-2"  style="padding-left: 0px; padding-right: 0px">
      <nav class="navbar navbar-default">
        <p class="text-center" style="font-size: 24px; margin-top: 5%">Инструменты</p>
      </nav>
      <p>sss</p>
      <p>sss</p>
      <p>sss</p>
    </div>
    <div class="col-md-10"  style="padding-left: 0px; padding-right: 0px">
      <nav class="navbar navbar-default">
        <p class="text-center" style="font-size: 24px; margin-top: 1%">Создание проекта</p>
      </nav>
      <p>aaa</p>
      <p>aaa</p>
      <p>aaa</p>
    </div>
  </div>
</div>
{% endblock %}
